<!DOCTYPE html>
<html lang="en">
<head>
    <!-- include relevant libraries  -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyCOHXm2hTplApfg3szuKzP-M7ISaM7idUo"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<!--     <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script> -->


    <style>
        /* Define properties for the small header on top - thinking of removing LOL  */
        .header {
            background: #0A0023;
            text-align: center;
            color: white;
            width: 100%;
            height: 10%;
        }

        /* define Map properties  */
        #map-canvas {
            height: 500px;
            width: 90%;
            margin: 0px;
            padding: 0px
        }
    </style>  

<!-- Generate Map -->

    <script>
        var map;
        var infowindow;
        var service;
        var locs=[];
        var markers=[];
        var infowindow =  new google.maps.InfoWindow({});


        function generateMarkers(locs){
             var locations = document.getElementById('location-list');
             var htmlContent='';
             var marker, count;
             //create marker on map
                for (count = 0; count < locs.length; count++) {
                    marker = new google.maps.Marker({
                      position: new google.maps.LatLng(locs[count].field_latittude, locs[count].field_longitude),
                      map: map,
                      title: locs[count].title
                    });

                    markers.push(marker);


                    htmlContent += '<tr><td>' + locs[count].title +'</td><td>'+ locs[count].field_type +'</td></tr>';

                    //add title to be displayed on click event
                    google.maps.event.addListener(marker, 'click', (function (marker, count) {
                      return function () {
                        infowindow.setContent(locs[count].title);
                        infowindow.open(map, marker);
                    }
                   })(marker, count));
                }
                 
                //generate content for the table below the map                                
                locations.innerHTML = htmlContent;

        }


        function initialize() {

                //set the current location (for now hardcode for simplicity per Thom's ask. To be model is to be able to detect the current location - if I have time TT)
                var lat = 1.279788;
                var lng = 103.853961;
                var loc = "MBFC Tower 2"

                var pyrmont = new google.maps.LatLng(lat,lng);

                //create map to be generated under the div tag with id = 'map-canvas'
                map = new google.maps.Map(document.getElementById('map-canvas'), {
                  center: pyrmont,
                  zoom: 13
              });

                //Create Marker object of where you are 
                marker = new google.maps.Marker({
                    position: new google.maps.LatLng(lat, lng),
                    map: map,
                    title: loc
                });
        
                //nearby hospital locations retrieved from Drupal (sample excel file to be shared)
                    var locs_URL = 'https://cms.idx.services/en/retrieveAll';
                    var locs_result = $.parseJSON($.ajax({
                        url:locs_URL,
                        type:"GET",
                        async:false}).responseText);
                    locs = locs_result;
         
                    generateMarkers(locs);
        }
        google.maps.event.addDomListener(window, 'load', initialize);
       
        function handleCheckboxChange(checkbox){
            //destroy the markers
            for (var i = 0; i < markers.length; i++) {
                 markers[i].setMap(null);
            }

            locs=[];
            //Generate new one
            if(document.getElementById('type-general').checked==true){
                var locs_URL = 'https://cms.idx.services/en/retrieveLocationsByType?type=General';
                var locs_result = $.parseJSON($.ajax({
                url:locs_URL,
                type:"GET",
                async:false}).responseText);
                locs_result.forEach(function(loc){
                    locs.push(loc);
                });
            }
            if (document.getElementById('type-community').checked==true){
                var locs_URL = 'https://cms.idx.services/en/retrieveLocationsByType?type=Community';
                var locs_result = $.parseJSON($.ajax({
                url:locs_URL,
                type:"GET",
                async:false}).responseText);
                locs_result.forEach(function(loc){
                    locs.push(loc);
                });
            }
            if(document.getElementById('type-specialists').checked==true){
                var locs_URL = 'https://cms.idx.services/en/retrieveLocationsByType?type=Specialists';
                var locs_result = $.parseJSON($.ajax({
                url:locs_URL,
                type:"GET",
                async:false}).responseText);
                locs_result.forEach(function(loc){
                    locs.push(loc);
                });
            }

            generateMarkers(locs);

        }
       

    </script>

</head>


<body>
    <div class="header">
    Bluewolf Insurance - Heroku POC
    </div>
    <br><br>
    <table>
     <tr>
        <td>
            <!-- Profile photo, url retrieved from SF-->
            <img src="<%= user.profileurl__c %>" class="img-circle" alt="Cinque Terre" width="150" height="150">
        </td>
        <td>
           <h3><p class="text-secondary"> &nbsp; Welcome, <%= user.name %>&nbsp; </p></h3>
       </td>
     </tr>
    </table>   

       <!-- Menu Bar - To create multiple tabs on the page --> 
       <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile Management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#case" role="tab" aria-controls="case" aria-selected="false"> Cases Management </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="article-tab" data-toggle="tab" href="#article" role="tab" aria-controls="article" aria-selected="false">Knowledge Management</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">

        <!-- Profile Tab (First tab of the Menu tab) --> 
        <div class="tab-pane fade active" id="profile" role="tabpanel" aria-labelledby="profile-tab">

            <br>
            <form action='/saveProfile' method="POST">
                <div class="form-group">
                    <label><h5 class="text-secondary">   Name  </h5></label>
                    <input type="text" name="name" value= "<%= user.name %>" class="form-control">

                    <label><h5 class="text-secondary">   Title   </h5></label> 
                    <input type="text" name="title" value= "<%= user.title %>" class="form-control">

                    <label><h5 class="text-secondary">   Mobile Phone   </h5></label>
                    <input type="text" name="mobilePhone" value= "<%= user.mobilephone %>" class="form-control">
                    <br>
                    <input type="submit" id = 'submit' value = "Submit" class="btn btn-primary"> </td>

                    <input type="hidden" name="externalid" value="<%= user.externalid__c %>" />
                </div>
            </form>
        </div>

        <!-- Case Tab (Second tab of the Menu tab) --> 
        <div class="tab-pane fade" id="case" role="tabpanel" aria-labelledby="case-tab">
            <br>
            <p align="right"> <a href="/retrieveCaseForm" class="btn btn-primary" role="button" aria-pressed="true">Create Case</a></p>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"> Case Number </th>
                        <th scope="col"> Subject </th>
                        <th scope="col"> Status </th>
                        <th scope="col"> Date/Time Opended </th>
                    </tr>
                </thead>
                <tbody>
                    <%cases.forEach(function(item) {%>
                    <tr>
                        <td><a href="/retrieveCaseDetails?id=<%= item.casenumber %>"><%= item.casenumber %></a></td>
                        <td><%= item.subject %></td>
                        <td><%= item.status %></td>
                        <td><%= new Date(item.createddate).toISOString().slice(0,10) + " " + new Date(item.createddate).toISOString().slice(11,19)%></td>
                    </tr>   
                    <% });%>
                </tbody>
            </table>
        </div>

        <!-- Knowledge Management (Third tab of the Menu tab)   -->
        <div class="tab-pane fade" id="article" role="tabpanel" aria-labelledby="article-tab">
         <br>
         Search for nearby hospitals under coverage:
         <br><br>
         <!-- map -->
         <center>
          <div id="map-canvas"></div>
          <br>
          <!-- Filter options -->
          <input type="checkbox" id ="type-general" name="general" value="general" checked onchange='handleCheckboxChange(this);'> General &nbsp;
          <input type="checkbox" id="type-community" name="community" value="community" checked onchange='handleCheckboxChange(this);'> Community &nbsp;
          <input type="checkbox" id="type-specialists" name="specialists" value="specialists" checked onchange='handleCheckboxChange(this);'> Specialists &nbsp;


          <!--  Display list -->
          <br>
          <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col"> <h3>Hospital</h3></th>
                    <th scope="col"> <h3>Type</h3> </th>

                </tr>
            </thead>
            <tbody id='location-list'>
             
            </tbody>
           </table>
        </center>
        
       </div>
     </div>

</body>
</html>
